{% extends 'vc/basic.html'%}
{% load static %}

{%block title%}{% endblock%}



{%block title_extra%}


{% endblock %}

{% block css %}


{% endblock %}



{% block body %}

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Course Description</h2>
  </div>
</header>

<!-- <label>{{course.name}}</label> -->

<div style="padding:50px">

  <div>
    <a href="{% url 'postAssignment' courseId%}" class="btn text-secondary px-0">
      <button type="submit" class="btn btn-primary" style="width:1000px">Upload Assignment</button>
    </a>
  </div>

  </br>
  {% for ass in assignments %}

  <div id="accordion">
    <div class="card" style="border-radius:10px">
      <div class="card-header" id="headingOne" style="border-radius:10px">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <label>Assignment No {{ass.assignmentNo}}</label>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div>
            <label>Assignment Topic</label>
            <p>{{ass.name}}</p>
            <label>Assignment Due Date</label>
            <p>{{ass.dueDate}}</p>
            <a href="{% url 'submissions_page' ass.assignmentID %}" class="btn text-secondary px-0">
              <button>
                Show Submissions
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
</div>



{% endblock %}

{% block javascript %}


{% endblock %}