{% extends 'vc/basic.html'%}
{% load static %}

{%block title%}{% endblock%}



{%block title_extra%}


{% endblock %}

{% block css %}

{% endblock %}



{% block body %}
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Upload Assignment</h2>
  </div>
</header>


<div style="padding:50px; width: 800px;  margin: auto;">
  <div style="border:2px solid black;border-radius:10px">
    <form style="padding:20px;" method="POST" class="post-form" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label for="exampleFormControlSelect1">Assignment No</label>
        <select class="form-control" id="assignmentNo" name="assignmentNo">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Assignment Topic</label>
        <input type="text" class="form-control" id="assignmentName" name="assignmentName" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Assignment Desciption</label>
        <textarea class="form-control" id="assignmentDesc" name="assignmentDesc" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">Assignment Due Date</label>
        <input type="date" class="form-control-file" id="dueDate" name="dueDate">
      </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">Assignment Document</label>
        <input type="file" class="form-control-file" id="assignDoc" name="assignDoc">
      </div>
      </br>
      <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}


{% endblock %}