{% extends 'vc/basic.html'%}
{% load static %}

{%block title%}{% endblock%}



{%block title_extra%}
<link rel="stylesheet" href="{% static '/css/easy-responsive-tabs.css' %}">
<link rel="stylesheet" href="{% static '/css/mycourses.css' %}">

{% endblock%}

{%block css%}



{% endblock%}



{%block body%}

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Assignments</h2>
  </div>
</header>

<div>

  {% comment %} <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">Studied Courses</h5>
      <div class="row">
        <!-- Team member -->

        {% for course in courses %}


        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="{% static "images/cnet.jpg" %}" alt="card image"></p>
                    <h4 class="card-title">{{course.name}}</h4>
                    <p class="card-text">{{course.description}}</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <a href="{% url 'student_course_description' course.couseId %}" class="btn text-secondary px-0">

                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">{{course.name}}</h4>
                      <!-- <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p> -->
                      <p class="card-text">{{course.courseCode}}</p>
                      <p class="card-text">{{course.credits}}</p>
                      <p class="card-text">{{course.teacher}}</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                            <i class="fa fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </a>

        {% endfor %}

      </div>
    </div>
  </section> {% endcomment %}


  <div>

    {% endblock%}

    {%block javascript%}

    <script src="{% static '/scipts/jquery-1.6.3.min.js' %}"></script>
    <script src="{% static '/scipts/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static '/scipts/easyResponsiveTabs.js' %}"></script>
    {% endblock%}