{% extends 'vc/basic.html'%}
{% load static %}

{%block title%}{% endblock%}



{%block title_extra%}


{% endblock %}

{% block css %}


{% endblock %}



{% block body %}

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Total Submissions</h2>
  </div>
</header>

<div style="padding:50px">
  <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
      <tr>
        <td>Submission ID</td>
        <td>Assignment ID</td>
        <td>Student ID</td>
        <td>Submission File</td>
      </tr>
    </thead>
    <tbody>
      {% for submission in submissions %}
      <tr>
        <td>{{submission.submissionID}}</td>
        <td>{{submission.assignmentId}}</td>
        <td>{{submission.studentId}}</td>
        <td><a href="{{submission.file.url}}" download>{{submission.file}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}

{% block javascript %}


{% endblock %}