{% extends 'vc/basic.html'%}
{% load static %}

{%block title%}{% endblock%}



{%block title_extra%}


{% endblock %}

{% block css %}

{% endblock %}



{% block body %}


<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Submit Assignment</h2>
  </div>
</header>

<!-- <h1>
  Submit Assignment
</h1> -->
<div style="padding:50px; width: 800px;  margin: auto;">
  <div style="border:2px solid black;border-radius:10px">
    <form style="padding:20px;" method="POST" class="post-form" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlFile1">Assignment Document</label>
        <input type="file" class="form-control-file" id="assignDoc" name="assignDoc">
      </div>
      </br>
      <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}


{% endblock %}