{% extends 'vc/basic.html'%}
{% load static %}

{%block title%}{% endblock%}

{%block title_extra%}
<!-- <html> -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script>
  var vidElement = null;

  function start() {
    var camAvailable = navigator.mediaDevices && navigator.mediaDevices.getUserMedia;
    if (camAvailable) {
      vidElement = document.getElementById("vid");
      navigator.mediaDevices.getUserMedia({
        video: true
      }).then(function(stream) {
        vidElement.srcObject = stream;
        vidElement.play();
      });
    }
  }

  function stop() {
    vidElement.pause();
  }

  // function snap() {
  //   var canvas = document.querySelector('canvas');
  //   var context = canvas.getContext('2d');
  //   context.drawImage(vidElement, 0, 0, 480, 330);
  //   var dataURI = canvas.toDataURL('image/jpeg');
  //
  //   var a = document.createElement('a');
  //   a.setAttribute('download', 'test' + '.png');
  //   a.setAttribute('href', dataURI);
  //   a.click();
  //
  //   function getCookie(c_name) {
  //     if (document.cookie.length > 0) {
  //       c_start = document.cookie.indexOf(c_name + "=");
  //       if (c_start != -1) {
  //         c_start = c_start + c_name.length + 1;
  //         c_end = document.cookie.indexOf(";", c_start);
  //         if (c_end == -1) c_end = document.cookie.length;
  //         return unescape(document.cookie.substring(c_start, c_end));
  //       }
  //     }
  //     return "";
  //   }
  //
  //   var data = {
  //     action: 'my_action',
  //     whatever: 1234
  //   };
  //
  //   console.log(dataURI);
  //
  //   $.ajax({
  //     url: "{% url 'attendancePic' %}",
  //     data: {
  //       'username': dataURI,
  //     },
  //     dataType: 'json',
  //     success: function(data) {
  //       if (data.is_taken) {
  //         alert(data.is_taken);
  //       }
  //     }
  //   });
  // }

  function addCam1() {
    var video =
      ' <iframe class="videoFeed1" src="/video_feed_teacher" style="border:2px solid blue; border-radius: 10px ;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="500px"  width="540px" allowfullscreen></iframe>';
    // console.log("Dispalying video");
    console.log(video);
    // $('#option1Cam').hide();
    // alert("Done video")
    $('#view1').html(video);
    console.log("Dispalying video after ");

    $('#view1').css('border', 'none');
    console.log("Done video");
  }


  // function videCallStarted() {
  //   setInterval(function() {
  //     snap();
  //   }, 3000);
  // }

  // $(document).ready(function() {
  //   // alert("Ca");
  //   // addLocalVideo();
  //   // Twilio.Video.createLocalVideoTrack().then(track => {
  //   //   let video = document.querySelector('local');
  //   //   alert(video);
  //   //   let trackElement = track.attach();
  //   //   // alert("I am showing name!");
  //   //   container.append(track.attach());
  //   //
  //   //   trackElement.addEventListener('click', () => {
  //   //     zoomTrack(trackElement);
  //   //   });
  //   //   video.appendChild(trackElement);
  //   // });
  //   // videCallStarted();
  //   Twilio.Video.createLocalVideoTrack().then(track => {
  //     let video = document.getElementById('local').firstChild;
  //     alert(video);
  //     video.appendChild(track.attach());
  //   });
  // });
</script>

<head>
  <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
  <link rel="stylesheet" href="{% static '/css/styles.css' %}">
  <style>

  </style>
</head>
{% endblock%}
{%block body%}
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Call</h2>
  </div>
</header>
<section>
  <!-- <h1>Virtual Classroom</h1> -->
  <div style="padding-left:50px">
    <form>
      <!-- <label for="username" style="font-size:20px">Name: </label> -->
      <input type="hidden" name=”username” id="username" style="border-radius:7px;border:1px solid black;height:35px" placeholder="{{students.uname}}" value="{{students.uname}}">
      <button id="join_leave" type="submit" class="btn btn-primary" style="margin-left:30px; width:200px">Join call</button>
      <button id="share_screen" disabled type="submit" class="btn btn-primary" style="margin-left:150px; width:200px">Share screen</button>
      <button id="toggle_chat" disabled type="submit" class="btn btn-primary" style="margin-left:150px; width:200px">Toggle chat</button>
    </form>
  </div>

  </br>
  <!-- <p id="count">Disconnected1.</p> -->

  <button type="button" name="button" onclick="addCam1()" class="btn btn-primary" style="margin-left:20px">Click to start Eye Tracking</button>
  </br>
  </br>

  <div id="view1" style="border:2px solid black; height:500px;  width:540px; border-radius: 10px; margin-left:20px">
    <img src="{% static "images/person.png" %}" style="height:500px; width:540px">
  </div>

  <div id="root">
    <div id="container" class="container" style="border:2px solid black;">
      <div class="participant" id="local">
        <!-- <div></div>
        <div class="label">Me</div> -->
        <canvas id="local" class="participant"></canvas>
      </div>
      <!-- more participants will be added dynamically here -->
    </div>
    <div id="chat" style="border:1px solid black">
      <div id="chat-scroll">
        <div id="chat-content">
          <!-- chat content will be added dynamically here -->
        </div>
      </div>
      <input id="chat-input" type="text">
    </div>
  </div>
</section>


<script src="https://media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/conversations/releases/1.0.0/twilio-conversations.min.js"></script>
<!-- <link rel="stylesheet" href="{% static 'scipts/apps.js' %}"> -->
<!-- <script src="{% static '/scripts/apps.js' %}"></script> -->
<script src="{% static 'scipts/apps.js' %}"></script>
<!-- <script src="{% static 'pizzas/hack.js' %}"></script>  -->



{% endblock%}

<!-- </html> -->