{% extends 'vc/teacherbasic.html'%}
{% load static %}

{%block title%}{% endblock%}



{%block title_extra%}
<link rel="stylesheet" href="{% static '/css/easy-responsive-tabs.css' %}">
<link rel="stylesheet" href="{% static '/css/mycourses.css' %}">

<!-- <link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " /> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  -->

<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<script src="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://cdn.rawgit.com/atatanasov/gijgo/master/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock%}

{%block css%}


<style type="text/css" rel="stylesheet">
  /*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
  @media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
      display: none;
    }

    h2.resp-accordion {
      display: block;
    }

    .resp-vtabs .resp-tab-content {
      border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
      border: none;
      float: none;
      width: 100%;
      min-height: 100px;
      clear: none;
    }

    .resp-accordion-closed {
      display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
      border-bottom: 1px solid #c1c1c1 !important;
    }
  }


  @media only screen and (max-width: 768px) {
    #container {
      width: 90%;
      margin: 0 auto;
    }
  }
</style>

{% endblock%}

{%block body%}

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Assignments</h2>
  </div>
</header>

<div>

  <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">Taught Courses</h5>
      <div class="row">
        <!-- Team member -->

        {% for course in courses %}


        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="{% static "images/cnet.jpg" %}" alt="card image"></p>
                    <h4 class="card-title">{{course.name}}</h4>
                    <p class="card-text">{{course.description}}</p>
                    <a href=" " class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <a href="{% url 'course_description' course.couseId %}" class="btn text-secondary px-0">

                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">{{course.name}}</h4>
                      <!-- <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p> -->
                      <p class="card-text">{{course.courseCode}}</p>
                      <p class="card-text">{{course.credits}}</p>
                      <p class="card-text">{{course.teacher}}</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href=" ">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href=" ">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href=" ">
                            <i class="fa fa-skype"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href=" ">
                            <i class="fa fa-google"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </a>

        {% endfor %}

      </div>
    </div>
  </section>


  <div>

    {% endblock%}

    {%block javascript%}

    <script src="{% static '/scipts/jquery-1.6.3.min.js' %}"></script>
    <script src="{% static '/scipts/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static '/scipts/easyResponsiveTabs.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#datepicker').datepicker({
          uiLibrary: 'bootstrap'
        });
      });
    </script>

    </script>
    {% endblock%}